*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
tmp/cache

# Scala-IDE specific
.scala_dependencies
.idea
.idea_modules
*.iml

# h2 database
*.db
