<% # This is the APP HEADER %>
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Timefig", page_home_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <%= render_navigation(:context => :main, :level => 1) %>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown">
        <%- if user_signed_in? -%>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">You <b class="caret"></b></a>
        <%- else -%>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign up/Sign in <b class="caret"></b></a>
        <%- end -%>
        <%= render_navigation(:context => :main_dropdown, :level => 1) %>

      </li>
      <li class="divider show-for-small"></li>
    </ul>
  </section>
</nav>
<div class="row">
  <%= render_navigation :context => :main, :renderer => :breadcrumbs, :join_with => " &raquo; ", :id => 'breadcrumbs', :class => 'breadcrumbs' %>
</div>