<!--
  Clicking text or photo opens up modal

  -Text, ability to enter basic formatted text
-->

<div class="styleguide">
  <section>
    <nav class="new-event-nav">
      <ul>
        <li>
          <!-- <i class="icon-align-left"></i> -->
          <a href="" class="new-event-nav--new-text">Text</a>
        </li>
        <li>
          <!-- <i class="icon-camera"></i> -->
          <a href="" class="new-event-nav--new-photo">Photo</a>
        </li>
      </ul>
    </nav>
  </section>
  <section>
    <nav class="new-event-nav">
      <ul>
        <li>
          <!-- <i class="icon-align-left"></i> -->
          <a href="" class="new-event-nav--new-fyi">FYI</a>
        </li>
        <li>
          <!-- <i class="icon-camera"></i> -->
          <a href="" class="new-event-nav--new-milestone">Milestone</a>
        </li>
      </ul>
    </nav>
  </section>

  <section>
    <div class="new-event-modal">
      <form>
        <h2>What happened?</h2>
        <input type="text" placeholder="Title" />
        <textarea></textarea>
        <button>Publish</button>
      </form>
    </div>
  </section>

  <section>
    <!-- timeline-event - MILESTONE -->
    <div class="timeline-event timeline-event-box milestone">
      <article class="timeline-event-content">
        <hgroup>
          <a href="#"><img src="/sonny_small.jpg" class="timeline-avatar"></a>
          <h1>Launched version 1.0</h1>
          <time class="timeline-event-date">02:19pm November 1, 2013</time>
        </hgroup>
        <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        <a href=""><i class=" icon-ellipsis-horizontal" style="color: #fff;"></i></a>
      </article>
    </div>    
  </section>

    <section>
    <!-- timeline-event - Milestone image -->
    <div class="timeline-event timeline-event-box milestone">
      <article class="timeline-event-content">
        <aside class="timeline-image"><img src="/nepal.jpg"/></aside>
        <hgroup>
          <a href="#"><img src="/sonny_small.jpg" class="timeline-avatar"></a>
          <h1>Launched version 1.0</h1>
          <time class="timeline-event-date">02:19pm November 1, 2013</time>
        </hgroup>
        <p data-tooltip title="Tooltips are awesome, you should totally use them!">Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>
  </section>

  <section>
    <!-- timeline-event - MILESTONE -->
    <div class="timeline-event timeline-event-box milestone">
      <article class="timeline-event-content">
        <hgroup>
          <a href="#"><img src="/sonny_totoro.jpg" class="timeline-avatar"></a>
          <h1>Short milestone!</h1>
          <time class="timeline-event-date">02:19pm November 1, 2013</time>
        </hgroup>
        <p>We did it!</p>
      </article>
    </div>    
  </section>

  <section>
    <!-- timeline-event - FYI -->
    <div class="timeline-event timeline-event-box fyi">
      <article class="timeline-event-content">
        <hgroup>
          <a href="#"><img src="/sonny_totoro.jpg" class="timeline-avatar"></a>
          <h1>We got a new television</h1>
          <time class="timeline-event-date">02:19pm November 1, 2013</time>
        </hgroup>
        <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
        <a><i class=" icon-ellipsis-horizontal" style="color: #000;">&nbsp;</i></a>
      </article>
    </div>
  </section>

  <section>
    <!-- timeline-event - FYI image -->
    <div class="timeline-event timeline-event-box fyi">
      <article class="timeline-event-content">
        <aside class="timeline-image"><img src="/nepal.jpg"/></aside>
        <hgroup>
          <a href="#"><img src="/sonny_small.jpg" class="timeline-avatar"></a>
          <h1>Launched version 1.0</h1>
          <time class="timeline-event-date">02:19pm November 1, 2013</time>
        </hgroup>
        <p data-tooltip title="Tooltips are awesome, you should totally use them!">Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>
  </section>
</div>