<section class="main-section">
  <h1>{{retro.title}}</h1>

  <div ng-repeat="retro_reflection in retro.retro_reflections" class="item-column">
    <h1 ng-bind="retro_reflection.title" class="item-column__heading"></h1>
    <ul class="item-column__items">
      <li ng-repeat="retro_response in retro_reflection.retro_responses" ng-bind="retro_response.content" class="item-column__item"></li>
    </ul>
  </div>
</section>

<a href="/projects/{{project._id}}/retros/{{retro._id}}/response/new" class="button">Add thought</a>
<div ui-view="response_form"></div>
    <h1>Actions</h1>
    <ul>
        <li ng-repeat="retro_action in retro.actions">{{retro_action.content}}<input type="checkbox" ng-model="retro_action.resolved" ng-click="resolve_action(retro_action)"/></li>

    </ul>
<a href="/projects/{{project._id}}/retros/{{retro._id}}/action/new" class="button">Add Action</a>
<div ui-view="action_form"></div>
