@mixin box-shadow( $shadow ){
  -webkit-box-shadow: ( $shadow );
  -moz-box-shadow: ( $shadow );
  box-shadow: ( $shadow );
}

@mixin border-radius($radii) {
  @include prefixer(border-radius, $radii, spec)
}

%font-awesome {
  font-family: FontAwesome;
  position: absolute;
}

%no-margin-bottom {
	margin-bottom: 0px;
}